.singleShoppingListItem {
    background-color: #ffffff;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-right: 20px;

    box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
}

.singleShoppingListItem-icon {
    padding: 20px 20px 20px 30px;
    margin-right: 10px;
}

.singleShoppingListItem-status {
    margin-left: auto;
}

.singleShoppingListItem-itemName.not-editing input, .singleShoppingListItem-itemName.editing label {
    display: none;
}

.singleShoppingListItem-itemName.editing input, .singleShoppingListItem-itemName.not-editing label {
    display: block;
}