.signUpContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.signUpContainer input {
    display: block;
}

.signUpContainer button {
    display: block;
}